@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

:root {
	--font-primary: Avenir, Helvetica, Arial, sans-serif;

	--black: #2c3e50;
	--black-rgb: #{hexToRGB(#2c3e50)};
	--white: #fafff9;
	--white-rgb: #{hexToRGB(#fafff9)};
	--primary: #5bd658;
	--secondary: #eeeb33;
}

// Dark mode
[data-mode='dark'] {
	--black: #fafff9;
	--white: #2c3e50;
	--black-rgb: #{hexToRGB(#fafff9)};
	--white-rgb: #{hexToRGB(#2c3e50)};
}
