form {
	margin: auto;
	padding: 38px 50px;
	width: fit-content;
	border-radius: 5px;

	.form-group {
		margin: 10px;
		padding: 10px 20px;
		width: 30rem;
		border-radius: 5px;
		background-color: rgba(var(--black-rgb), 0.8);
		box-shadow: 1px 1px 10px rgba(var(--black-rgb), 0.2);

		label {
			pointer-events: none;
			position: absolute;
			margin: 17px 0 0 20px;
			color: rgba(var(--black-rgb), 0.6);
			transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

		input[type='text'],
		input[type='password'],
		textarea {
			width: 100%;
			padding: 10px 20px;
			margin: 8px 0;
			font-family: var(--font-primary);
			border-radius: 4px;
			box-sizing: border-box;
		}
	}

	input[type='submit'],
	button[type='button'] {
		cursor: pointer;
		padding: 10px 20px;
		margin: 8px 0;
		width: 15rem;
		font-family: var(--font-primary);
		color: var(--black);
		background-color: transparent;
		border: 3px solid var(--black);
		border-radius: 4px;
		transition: background-color 0.1s, color 0.1s;
		box-shadow: 1px 1px 10px rgba(var(--black-rgb), 0.2);

		&:hover {
			color: var(--white);
			background-color: rgba(var(--black-rbg), 0.9);
		}
		&:active {
			transform: scale(0.99);
		}
	}
}

// Error handling
.alert-danger {
	border: 1px solid #ff5b5f;
	background-color: #ffc5c1;
}
.alert-success {
	border: 1px solid #6eff5b;
}
.alert-submit-success {
	background-color: var(--primary);
	color: var(--white);
}
.alert-submit-danger {
	background-color: var(--black);
	color: var(--white);
}
